<h1>Listing authentications</h1>

<table>
  <tr>
    <th>user_id</th>
    <th>provider</th>
	<th>uid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authentications.each do |authentication| %>
  <tr>
    <td><%= authentication.user_id %></td>
    <td><%= authentication.provider %></td>
 	<td><%= authentication.uid %></td>
  </tr>
<% end %>
</table>

